body{
    margin: 0;
    
    overflow-x: hidden;
}

*{box-sizing: border-box;}

@font-face {
    font-family: font1;
    src: url(../assets/fonts/Discord1.woff);
}

@font-face {
    font-family: font2;
    src: url(../assets/fonts/Discord2.woff);
}

@font-face {
    font-family: font3;
    src: url(../assets/fonts/Discord3.woff);
}

@font-face {
    font-family: font4;
    src: url(../assets/fonts/Discord4.woff2);
}

@font-face {
    font-family: font5;
    src: url(../assets/fonts/gg\ sans\ Semibold.ttf);
}

@font-face {
    font-family: font6;
    src: url(../assets/fonts/gg\ sans\ Bold.ttf);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    /* height: auto; */
    min-height: 600px;
    background-color: #404EED;
    padding-bottom: 7em;
    position: relative;
    width: 100%;
    
}

.container p:hover {
    cursor: pointer;
    text-decoration: underline;


}

.bt-entrar{
    border-radius: 3em;
    border: none;
    padding: 0.7em;
    width: 8.8em;
    color: #020202;
    font-family: font5;
    
}

.bt-entrar:hover{
    cursor: pointer;
    box-shadow: 0px 12px 20px -10px black;
    color: #404EED;
}


.decanto{
    position: absolute;
    left: 74.5%;
    top: 39.5%;
}

.decanto2{
    position: absolute;
    right: 76%;
    top: 40.5%;
}


.box-topo{
    margin: 1.1em;
    display: flex;
    flex-direction: row;
    min-width: 1200px;
    justify-content: space-between;
    align-items: center;
   
}

.agrupamento{
 display: flex;
 flex-direction: row;
 font-family: font3;
 color: white;
 min-width: 700px;
 justify-content: space-around;
 cursor: pointer;
 font-size: 1em;
}

.box-centro{
display: flex;
flex-direction: column;
align-items: center;
max-width: 800px;
margin-top: 3em;

}

.titulo{
    font-family: font4;
    font-size: 3.5em;
    width: 15em;
    text-align: center;
    color: white;
}



.descricao{
    font-family: font1;
    color: white;
    font-size: 1.3em;
    text-align: center;
    padding: 2em;
    width: 45em;
    line-height: 1.5em;

}

.descricao p{
    margin: 0;
}

.box-agrupamento-botoes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: font2;
    font-size: 1.3em;
   
   /* font-weight: bold;*/
}

.botao1{
   background-color: white;
   margin: 1em;
   padding: .7em;
   border-radius: 2em;
   text-align: center;
   width: 13em;
   margin-bottom: auto;
   cursor: pointer;
   
}

.botao2{
margin: 1em ;
padding: .7em;
background-color: #23272A;
color: white;
border-radius: 2em;
width: 18em;
text-align: center;
cursor: pointer;
}


/* ----------------------------------- */



.container2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 3em
}



.box-img1 img{
   margin-right: 6em;
   margin-top: 7em;


}


.box-texto2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    

}

.box-titulo1{
    font-family: font6;
    font-weight: bolder;
    font-size: 2.5em;
    width:8.5em;
    font-weight:bold;
    color: #242424;
    height: 8em;
    line-height: 1.3em;
    

}


.box-txtmenor1{
    font-family: font1;
    font-size:1.5em;
    width: 20em;
    line-height: 1.5em;
    margin-top: 1em;
    color: #23272a;
    
}

.box-txtmenor1 p{
    margin: 0;
}



/* ------------------------------------------------------------------ */
.container3{
    background-color: #f6f6f6;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2em;
}

.box-texto3{
    padding: 4em;

}

.box-titulo2{
    font-family: font6;
    font-size: 3.0em;
    width:8.5em;
    font-weight:bold;
    color: #242424;
    padding: 0;
}

.box-titulo2 h3{
    margin: 0;
    margin-bottom: 0.5em;
    line-height: 1em;
}

.box-txtmenor2{
    font-family: font1;
    font-size:1.5em;
    width: 20em;
    line-height: 1.5em;
    margin: 0;
    color: #23272a;

}

.box-titulo3{
    font-family: font6;
    font-size: 3.0em;
    width:8.5em;
    font-weight:bold;
    color: #23272a;
    padding-top: 2em;
}

.box-titulo3 h3{
    margin: 0;
    margin-bottom: 0.5em;
    line-height: 1em;
}


/* ------------------------------------------------------------------ */

.lastcard{
    padding-top: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f6f6f6;
    padding-bottom: 5em;
    


}

.titulotec{
    font-family: font4;
    font-size: 1.4em;
    color: #23272a;
    
}

.descricao2{
    width: 48em;
    text-align: center;
    font-family: font1;
    font-size:1.4em;
}


.jornada{

    display: flex;
    flex-direction: column;
    align-items: center;
   
    justify-content: center;
    position: relative;
    padding-bottom: 3em;
    height: 7em;


}

.jornada h3{
    align-items: center;
    font-family: font3;
    font-size: 2em;
    
}

.estrelas{
    
    position: absolute;
    height: 6em;
    
    
    
}

.download button{
    background-color: #404EED ;
    color: #ffff;
    height: 2.5em;
    border: none;
    border-radius: 50px;
    width: 15em;
    font-size: 1.2em;
    cursor: pointer;
    font-family: font2;
}


.rodape{
    padding-top: 3em;
    height: 28em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #23272A;
}


.social{
    padding: 2em;
}

.social img{
    margin: 0.35em;
    
}

.Topo{
    font-family: font1;
    width: 13em;
    color: #ffff;
    

}

.Topo p:hover{
    cursor: pointer;
    text-decoration: underline;

}

.primeiro{
    color: #404EED;
}

.pt2{
    display: flex;
    flex-direction: row;
    background-color: #23272A;
    border-top: 1.5px solid #5865f2;
    justify-content: space-between;
    padding: 2em;
    padding-left: 6em;
    padding-right: 6em;
    width: 75em;
    
    

    
}
.pt2 button{
    border: none;
    border-radius: 2em;
    background-color: #5865f2;
    color: #ffff;
    font-family: font3;
    padding: 1em;

}

.pt2 button:hover{
    cursor: pointer;
    background-color: #727cee;
    
}

.dimensao{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #23272A;

}



/* -------Responsividade--------------- */

@media screen and (max-width: 1278px){
    .agrupamento{
        display: none;
        justify-content: space-between;
        
        min-width: 0px;
    }

    .box-topo{
        position: relative;
        min-width: 479px;
    }


    .box-centro{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 800px;
        margin-top: 3em;
        
        }


    .decanto{
        display: none;

    }    

    .decanto2{
        display: none;
    }

}

/* -------------------------------------------------- */


@media screen and (max-width: 1278px){

    .container2{
        flex-direction: column;
        align-items: center;
        padding: 0;
        justify-content: center;
    }

    
    .box-img1 img{
        height:500px ;
    }

    .box-titulo1{
        font-size: 2em;
        width: 20em;
        padding: 0px;
        margin: 0px;
        height: auto;
    }


    .box-texto2{
        display: flex;
        align-items: center;
        text-align: center;
        
    }


    .container3{
        flex-direction: column-reverse;
        align-items: center;
        padding-bottom: 5em;
    }

    .box-titulo2{
        font-size: 2em;
        width: 15em;
    }

    

    .box-texto3{
        display: flex;
        flex-direction: column;
        padding: 0;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .box-titulo3{
        width: 15em;
        font-size: 2em ;
    }

    .box-txtmenor2{
        text-align:justify ; 
        font-size: 1.3em;
    }


    .titulotec{
        font-size: 1em;
    }
    
    .descricao2{
        width: 25em;
        text-align: justify;
    }



}
/* ----------------------------------------------------- */

@media screen and (max-width: 825px){
    
    .titulo{
        font-size: 2.5em;
    }

    .descricao{
        width: 30em;
    }

    .lastcard img{

        height: 20em;
    }



}

@media screen and (max-width: 809px){
    .box-agrupamento-botoes{
        flex-direction: column;
        align-items: center;
    }

    .box-img1 img{
        width: 30em;
    }

    

}


@media screen and (max-width: 675px){
    .box-titulo1{
        width: 10em;
    }

}

@media screen and (max-width: 592px){
    .titulo{
        font-size: 2em;
    }

    .descricao{
        width: 25em;
    }

    .descricao2{
        width: 20em;

    }

    .lastcard img{
        height: 19em;
    }

}